<h1>Create New Movie Review </h1>

<form action="/movies" method="post">
	<div>
		Movie:
		<input type="text" name="movie"/>
		<br>
		Director:
		<input type="text" name="director"/>
		<br>
		Rating:
		<input type="text" name="rating"/>
		<br>
		<input type="submit" />
	</div>
</form> 