<h1> Movie ID <%= @movie.id %></h1>
	<div>
		Title: <%= @movie.title %>
		<br>
		Director: <%= @movie.director %>
		<br>
		Rating: <%= @movie.rating %>
		<br>
	</div>

	<div>
		<a href="/movies">
			Back to Movies
		</a>
	</div>
	